button {
    padding: 1em;
    margin: .2em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    background-color: ghostwhite;
    border-color: transparent;
    transition: ease-in-out 1s;
    
  }
  
  button:hover {
    background-color: cornflowerblue;
    transition-duration: 1s;
    color: ghostwhite;
  }

  .caption {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
  }
  
  .caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
  }
  
  .caption:hover .caption__overlay {
    transform: translateY(0);
  }

  .caption__overlay__title {
    margin: 0;
    padding: 0 0 12px;
    transform: translateY(calc(-100% - 10px)); /* +10px overlay padding */
    transition: transform .35s ease-out;
  }
  
  .caption:hover .caption__overlay__title {
    transform: translateY(0);
  }

  .caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
  }